__pycache__/

/build/
/dist/
/sathub.egg-info/
/*.egg/
/*.eggs/
/docs/_build/
/.cache/

config-log.json
config-sathub.json
sessoes-cx-*.json

*.pyc
*.pyo
*.pyd
*.sublime-workspace
*.DS_Store

test/mockup/*.so
test/mockup/*.o

# arquivos gerados pelas bibliotecas SAT
# Dimep D-SAT
logsat.txt
